/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap&family=Berkshire+Swash&display=swap');

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Header Styling */
header {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'BerkShire Swash';
}

/* Container for content */
.container {
  max-width: 900px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}

table th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

table tr:hover {
  background-color: #f1f1f1;
}

/* Button Styling */
button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.heading-button {
  border: 1px solid #fff;
  padding: 10px 30px;
}

button:hover {
  background-color: #45a049;
}

button.delete {
  background-color: #f44336;
}

button.delete:hover {
  background-color: #e53935;
}

button i {
  font-size: 1rem;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  header {
    font-size: 1.5rem;
    padding: 15px;
  }

  table {
    font-size: 0.9rem;
  }

  form {
    padding: 15px;
  }

  button {
    padding: 6px 12px;
  }
}

@media (max-width: 500px) {
  /* Styles for screens up to 500px wide */
  body {
    padding: 5px;
  }
  header {
    font-size: 1rem;
    padding: 5px;
  }
  .container {
    margin: 0px;
    padding: 5px;
  }
  table th, table td {
    padding: 10px;
  }
  button {
    padding: 10px;
  }
  .text-only { 
    display: none; 
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  /* Styles for tablets */
}

@media (min-width: 769px) {
  /* Styles for desktops */
}

input {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  outline: none;
}